* {
    box-sizing: border-box;
}


body{
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#myDIV.open {
    height: 100vh;
    width: 100vw;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    display: flex;
    flex-direction: column;
}


.popup-container{
    align-self: auto;
    margin: auto;
    color: white;
    text-align: center;
}

#myDIV input {
    height: 20vh;
    width: 50vw;
    font-size: 30px;
    align-self: auto;
    margin: auto;
    border-radius: 8px;
}

#myDIV.closed {
    display: none;
}

.popUp-close{
    height: 20px;
    cursor: pointer;
    margin: auto;
    margin-top: 10px;
}

.container {
    display: flex;
    align-items: center;
    flex-flow: column;
    height: 90vh;
    width: 40vw;
}

ul {
    margin: 0;
    padding: 0;
}

.addBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background: #50e3a4;
    padding: 10px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-top: auto;
    cursor: pointer;
}

.addBtn span{
    color: #46bd8a;
}


.toDoList {
    padding: 0;
    width: 100%;
    overflow: scroll;
    margin-bottom: 20px;
}



.list-container{
    display: flex;
    flex-flow: row;
    align-items: center;
    background: rgb(209, 209, 209);
    overflow: hidden;
    cursor: pointer;
}


.list-container:nth-child(odd){
    background: rgb(177, 177, 177);
}


div.list-container.background-checked:nth-child(odd){
    background: rgb(97, 97, 97);
}



ul li.checked {
    background: rgb(97, 97, 97);
    color: white;
    text-decoration: line-through;
    transition: 0.2s;
}

div.background-checked {
    background: rgb(97, 97, 97);
    transition: 0.2s;
}

.close {
    text-align: center;
    background: rgb(255, 47, 47);
    text-align: center;
    margin-left: auto;
    padding:15px;
    text-decoration: none;
}

li {
    margin-left: 10px;
    list-style: none;
}